################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObjectsHierarchies/.vs/ObjectsHierarchies
/ObjectsHierarchies/ObjectsHierarchies/bin/Debug/net7.0
/ObjectsHierarchies/ObjectsHierarchies/obj
